.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
}
 @media (min-width: 1200px) {
     .header {
         display: flex;
         flex-direction: row;

     }
 }
